/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.brand-logo span
{
  color:red;
    font-weight: 700;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.row {

    margin-bottom: 50px;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.top_logo
{
      width: 13rem;
    margin-top: 1rem;
}

.button-collapse {
    color: #000000;
}
.font-lighter
{
  font-weight: lighter;
}

.smaller-line-height
{
  line-height:1.2rem;
}

